* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
  color: rgb(30, 113, 105);
}

.noborder-button {
  border: none;
  background-color: transparent;
  margin-left: 8px;
  font-size: 14px;
}